<style>
    #area {
        position: relative;
        left: 37%;
        top: 29%;
        width: 320px;
        height: 270px;
    }

    #area #formulario {
        position: absolute;
        display: block;
    }

    textarea {
        width: 300px;
        height: 30px;
    }
    input{
        width: 300px;
        height: 30px;
    }
</style>
<div id="area">
    <form action="/add" method="POST" id="formulario">
        <p>Titulo:</p>
        <input id="titul" type="text" name="titulo">
        <p>Conteúdo</p>
        <textarea name="conteudo"></textarea>
        <div>
            <button id="comentar" type="submit">Cadastrar Comentário</button>
        </div>
    </form>
</div>