<h1>Deixe aqui seu Comentário</h1>
<p>A sua opinião é muito importante para nós !</p>
<div id="comentar"><a href="/form">comentar</a></div>

{{#each comments}}
    <h3>{{titulo}}</h3>
    <h4>{{conteudo}}</p>
    <small>{{createdAt}}</small>
    <a href="/deletar/{{id}}"><button onclick="myFunction()">deletar</button></a>
    <hr>
    </div>
    <script>
        fuunction myFunction() {
            alent("comentario excluido")
        }
    </script>
{{/each}}    