
body{
    background-color: blueviolet;
}
nav{
  background-color: brown;
}
nav ul{
  text-align: right;
  padding: 10px;
  font-size: 20px;
  color: aliceblue;
}
nav li{
  display: inline block;
}
h1{
  color: black;
  font-size: 30px;
  padding: 10px;
  text-align: center;
}
p{
  font-size: 20px;
  padding: 0 150px;
  display: inline-block;
  text-align: center;
}
div{
  display: inline-block;
}